<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="timetable-container">  
        <h2>Timetable</h2>
        <div class="timetable table-responsive">
            <table class="table table-sm" id="inside">
                <thead class="thead-dark">
                  <th>#</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thurstday</th>
                  <th>Friday</th>
                </thead>
                <tbody>
                  <tr *ngFor="let row of timetable; index as counter">
                    <td><b>{{counter + 1}}</b></td>
                    <td *ngFor="let entity of row">
                        <div *ngIf="!!entity" >
                            <table class="table-sm">
                                <tr>
                                    <td>Course:</td>
                                    <td><b>{{entity.course.title}}</b></td>
                                </tr>
                                <tr>
                                    <td>Classroom:</td>
                                    <td><b>{{entity.classroomNumber}}</b></td>
                                </tr>
                            </table>
                        </div> 
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
