<div class="container">
    <mat-card>
        <mat-card-title><h3>{{title}}</h3></mat-card-title>
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
                <p *ngIf="notification" class="notification">{{notification.msgBody}}</p>
                <mat-form-field>
                    <label class="label">Username: </label>
                    <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" required autofocus /><br>
                </mat-form-field>
                <mat-form-field>
                    <br>
                    <label class="label">Password: </label>
                    <input type="password" id="password" formControlName="password" class="form-control" placeholder="" required autofocus /><br>
                </mat-form-field>
                <br>
                <button [disabled]="!loginForm.form.valid" class="submit" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
