<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="container" *ngIf="userRole()"> 
        <h2>Update</h2>
        <div class="container">
            <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-remark">           
                <div class="form-group">
                    <label for="text">Text area</label>
                    <textarea class="form-control" id="text" required [(ngModel)]="response.text" name="text" rows="3">{{remark.text}}</textarea>
                  </div>
                <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>