$primary: #05386B;
$secondary: #fff;
$font-size: 1.5em;
$padding-top: 1em;
$padding-right: 2em;
$border-size: 2px;
$scale: 1.1;
$transition: 0.3s;
$admin-color: #a01a2e; 
$teacher-color:	#cc9800;
$student-color: #2ee7c8;
$headteacher-color: #660066;

.container {
    width: 100%;
}

