<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="container" *ngIf="userRole()">
        <div class="container">
            <div class="container">
                <h3>Exams</h3>
                <button (click)="create()" id="create" class="btn btn-dark">Create Exam</button>
            </div>
            <div class="container">
                <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-exam">           
                    <div class="form-group">
                        <label for="course">Course</label>
                        <select name="course" class="form-control form-control-sm" [(ngModel)]="selectedOption">
                            <option *ngFor="let course of courses" [ngValue]="course">{{course.title}}/{{course.year}}</option>
                        </select>
                    </div>  
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div>
            <div class="container" *ngIf="selected">
                <input class="form-control-searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" 
                placeholder="&#171; Search">
                <table  class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Written At</th>
                            <th>Mark</th>
                            <th>Functions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exam of exams | filter:searchText">
                            <td>{{exam.writtenAt}}</td>
                            <td>{{exam.mark}}</td>
                            <td>
                                <button (click)="update(exam.id)" class="btn btn-warning">Update</button>
                                <button (click)="delete(exam.id)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

