<div *ngIf="isDataAvailable">
    <mat-toolbar class="toolbar">
        <span>Enaplo</span>
        <div class="right">
            <button *ngIf="hasSignedIn()" mat-button mat-ripple routerLink="/home" class="home-button">Home</button>
            <button *ngIf="hasSignedIn()" class="logout-button" (click)="logout()">Logout</button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/login" class="logout-button" >Login</button>
        </div>
    </mat-toolbar>
</div>

