<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="container" *ngIf="userRole() != 'ROLE_STUDENT' || currentUser.id == student.student.id">  
      <div class="container">
        <h2>Summary</h2>
      </div>
        <div class="container">
            <table class="table table-striped table-sm table-bordered">
              <thead  class="thead-dark">
                <th>Subject</th>
                <th>Marks</th>
                <th>Avg.</th>
                </thead>
                <tbody>
                  <tr *ngFor="let summary of summaries">
                    <td *ngIf="summary.courseName">{{summary.courseName}}</td>
                    <td><span *ngFor="let mark of summary.marks">{{mark}},</span></td>
                    <td>{{ summary.average.toFixed(2)}}</td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
