<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="container" *ngIf="userRole() === 'ROLE_ADMIN'">
        <div class="container">
            <div class="container">
                <h3>Set course to student</h3>
            </div>
            <div class="container">
                <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-course">           
                    <div class="form-group">
                        <label for="course">Course</label>
                        <select name="course" class="form-control form-control-sm" [(ngModel)]="selectedOption">
                            <option *ngFor="let course of courses" [ngValue]="course">{{course.title}}/{{course.year}}</option>
                        </select>
                    </div>  
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>