<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="teacher-details-container">
        <h2>Teacher</h2>
        <table class="table table-bordered" *ngIf="teacher">
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{teacher.teacher.username}}</td>
                </tr>
                <tr>
                    <td>Fullname</td>
                    <td>{{teacher.teacher.fullName}}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{teacher.email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{teacher.phone}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


