<mat-toolbar class="admin-panel">
    <div *ngIf="isDataAvailable" class="admin-panel-container">
        <span class="title">Admin</span>
            <div class="right" >
                <button  mat-button mat-ripple (click)='getAllUser()' class="admin-button">Users</button>
                <button  mat-button mat-ripple (click)='getAllRooms()' class="admin-button">Rooms</button>
                <button  mat-button mat-ripple (click)='admin()' class="admin-button">Admin</button>
                <button  mat-button mat-ripple (click)='archives()' class="admin-button">Archives</button>
                <button  mat-button mat-ripple (click)='getAllClassroom()' class="admin-button">Classrooms</button>
                <button  mat-button mat-ripple (click)='getAllCourse()' class="admin-button">Courses</button>
                <button  mat-button mat-ripple (click)='update()' class="admin-button">Update</button>
            </div>
        </div>
</mat-toolbar>