<mat-toolbar class="admin-panel">
    <div class="admin-panel-container">
        <span class="title">Admin</span>
            <div class="right" >
                <button  mat-button mat-ripple (click)='createStudent()' class="admin-button">Create Student</button>
                <button  mat-button mat-ripple (click)='createTeacher()' class="admin-button">Create Teacher</button>
                <button  mat-button mat-ripple (click)='createCourse()' class="admin-button">Create Course</button>
                <button  mat-button mat-ripple (click)='createClassroom()' class="admin-button">Create Classroom</button>
                <button  mat-button mat-ripple (click)='getAllUser()' class="admin-button">Users</button>
                <button  mat-button mat-ripple (click)='getAllClassroom()' class="admin-button">Classrooms</button>
                <button  mat-button mat-ripple (click)='getAllCourse()' class="admin-button">Courses</button>
            </div>
        </div>
</mat-toolbar>




