<mat-toolbar class="admin-panel">
    <div class="admin-panel-container">
        <span class="title">Admin</span>
            <div class="right" >
                <button  mat-button mat-ripple routerLink="/student/create" class="admin-button">Create Student</button>
                <button  mat-button mat-ripple routerLink="/teacher/create" class="admin-button">Create Teacher</button>
                <button  mat-button mat-ripple routerLink="/admin" class="admin-button">Create Course</button>
                <button  mat-button mat-ripple routerLink="/admin" class="admin-button">Create Classroom</button>
                <button  mat-button mat-ripple routerLink="/classroom/all" class="admin-button">Classrooms</button>
                <button  mat-button mat-ripple routerLink="/user/list" class="admin-button">Users</button>
            </div>
        </div>
</mat-toolbar>




