.form {
    width: 40%;
    margin-left: 3em;
    margin-left: 30%;
}
 
h2 {
    margin: 1em;
}

button {
    float: right;
    margin-bottom: 3em;
}

#account {
    float: left;
    width: 40%;
    margin-left: 3em;
    margin-left: 30%;
}