<mat-toolbar class="teacher-panel">
    <div *ngIf="isDataAvailable" class="teacher-panel-container">
        <span class="title">Teacher</span>
            <div class="right">
                <button mat-button mat-ripple (click)='timetable()' class="teacher-button">Timetable</button>
                <button mat-button mat-ripple (click)='classrooms()' class="teacher-button">Classes</button>
                <button mat-button mat-ripple (click)='preferences()' class="teacher-button">Preferences</button>
                <button mat-button mat-ripple (click)='courses()' class="teacher-button">Courses</button>
                <button  mat-button mat-ripple (click)='update()' class="teacher-button">Update</button>
            </div>
        </div>
</mat-toolbar>
