<div *ngIf="isDataAvailable">
    <app-panel-loader></app-panel-loader>
    <div class="container" *ngIf="userRole() != 'ROLE_STUDENT'">
        <div class="container">
            <div class="container">
                <h3>Classes</h3>
                <button *ngIf="userRole() === 'ROLE_ADMIN'" mat-button mat-ripple (click)='createClassroom()' class="btn btn-info">Create Classroom</button>
            </div>
            <div class="container">
                <input class="form-control-searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" 
                placeholder="&#171; Search">
                <table  class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Class tag</th>
                            <th>Start year</th>
                            <th>End year</th>
                            <th>Headteacher</th>
                            <th>Function</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let classroom of classrooms | filter:searchText">
                            <td>{{classroom.year}}/{{classroom.letter}}</td>
                            <td>{{classroom.start_year}}</td>
                            <td>{{classroom.end_year}}</td>
                            <td>{{classroom.headTeacher.teacher.fullName}}</td>
                            <td>
                                <button *ngIf="userRole() === 'ROLE_ADMIN'" (click)="update(classroom.id)" class="btn btn-warning">Update</button>
                                <button *ngIf="userRole() === 'ROLE_ADMIN'" (click)="delete(classroom.id)" class="btn btn-danger">Delete</button>
                                <button *ngIf="userRole() === 'ROLE_ADMIN'" (click)="setCourse(classroom.id)" class="btn btn-info">Set Course</button>
                                <button *ngIf="userRole() === 'ROLE_ADMIN'" (click)="finished(classroom.id)" class="btn btn-info">Graduated</button>

                                <button *ngIf="userRole() === 'ROLE_TEACHER'|| userRole() === 'ROLE_HEADTEACHER'" (click)="exam(classroom.id)" class="btn btn-secondary">Exam</button>
                                <button *ngIf="userRole() === 'ROLE_TEACHER'|| userRole() === 'ROLE_HEADTEACHER'" (click)="report(classroom.id)" class="btn btn-secondary">Report</button>
                                <button *ngIf="userRole() === 'ROLE_TEACHER' || userRole() === 'ROLE_HEADTEACHER'" (click)="attendance(classroom.id)" class="btn btn-secondary">Attendance</button>
                                <button *ngIf="userRole() === 'ROLE_TEACHER' || userRole() === 'ROLE_HEADTEACHER'" (click)="students(classroom.id)" class="btn btn-secondary">Students</button>
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
