<div *ngIf="isDataAvailable">
    <div class="timeTableEntity-list-container" *ngIf="userRole() === 'ROLE_ADMIN'">
        <app-admin-panel></app-admin-panel>
        <div class="timeTableEntity-list-container-body">
            <div class="timeTableEntity-list-header">
                <h3>timeTableEntity for {{course.courseName}}</h3>
                <button (click)="create(course.id)" class="btn btn-primary">New</button>
            </div>
            <div class="timeTableEntity-list-body">
                <input class="form-control-searchbox" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" 
                placeholder="&#171; Search">
                <table  class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Day</th>
                            <th>Lesson Number</th>
                            <th>Classroom</th>
                            <th>Class</th>
                            <th>Functions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entity of timtable | filter:searchText">
                            <td>{{entity.day}}</td>
                            <td>{{entity.lessonNumber}}</td>
                            <td>{{entity.classroomNumber}}</td>
                            <td>{{entity.classroom.year}}/{{entity.classroom.letter}}</td>
                            <td>
                                <button (click)="update(course.id)" class="btn btn-warning">Update</button>
                                <button (click)="delete(course.id)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

